
@{
    ViewData["Title"] = "Index";
}
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="Stylesheet" href="~/css/site.css" />
    </head>

    <body>
        <input type="text" name="userId" id="loginId"/>

        <button type="submit">Login</button>

    </body>

